/* 
Color Palette

1st #CBD5BD, light green
2nd #3C2E2D, darker brown
3rd #F1C0B2, salmon

*/

body {
	font-family: 'Voltaire', sans-serif;
	background: url("../img/binding_light.png")
}

h1 {
	color: #CBD5BD;
}







/* Help Classes */
.showgrid {
	background: url("../img/12_col.gif") !important;
}